# Keep Reports visible in IntelliJ; ignore generated Allure files only
Reports/allure-results/*
!Reports/allure-results/.gitkeep
Reports/allure-report/*
!Reports/allure-report/.gitkeep
target/
Screenshots/
src/test/resources/request/*
resources/response/*
resources/schemas/*